
.scroll {
    position: fixed;
    bottom: 50px;
    right: 40px;
    color: #fff;
    z-index: 9999999999;
}
.scrollHeader {
    transform: rotate(90deg);

}

.scrollLine {
    height: 60px;
    background-color: white;
    width: 1px;
    position: absolute;
    top: -24px;
  }

  .isBlack {
    color: #000;
  }

  .isBlack  .scrollLine {
    background-color: #000;
  }
