.world-container {
    /* Your existing styles */
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 1s ease-in-out; /* Adjust duration and easing as needed */
  }

  .fadeIn {
    opacity: 1; /* Fade in by changing opacity to 1 */
  }

  .fadeOut {
    opacity: 0; /* Start with opacity 0 */

  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: aliceblue;
  }