.footer {
  position: absolute;
  width: 100vw;
  bottom: 0;
  height: auto;
  background-color: #ab704de7;
  z-index: 999;
  padding: 70px 40px 60px 40px;
}

.footerPopup {
  position: fixed;
  bottom: -50vh;
}

.contactInActive {
  position: fixed;
  bottom: 36px;
  right: 40px;
  color: #ab6f4d;
  z-index: 999;
  transition: 400ms ease-in-out;
  opacity: 1;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.07em;
}

.contactActive {
  position: fixed;
  bottom: 30px;
  right: 40px;
  color: #ab6f4d;
  z-index: 999;
  transition: ease-in-out 400ms;
  opacity: 0;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.07em;
}
.isBlack .contactInActive {
  color: #ab6f4d;
}
.isBlack .contactInActive:hover,
.contactInActive:hover {
  color: #834629;
  transition: 400ms ease-in-out;
}
.close {
  color: #fff;
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
}
.closeOverlayActive {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
}
.contactInfo {
  color: #fff;
  text-align: left;
  line-height: 1.3;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.07em;
  display: flex;
  gap: 120px;
  justify-content: space-between;
  align-items: center;
}
.infoSection {
  flex: 1;
}
.infoSection .infoSectionLarge {
  font-size: 3rem;
  line-height: 2rem;
}
.infoSection.infoSectionSmall {
  display: flex;
  justify-content: space-between;
}
.contactInfo h4 {
  color: #fff;
  line-height: 1;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.07em;
  margin-bottom: 12px;
  margin-top: 0;
}
.contactInfo a {
  color: #fff;
  text-decoration: none;
}
.contactInfo a:hover {
  text-decoration: underline;
}
.socialLink {
  line-height: 1;
  display: flex;
  gap: 4px;
}
.socialLink img {
  margin-top: 2px;
}
.contactLogo {
  display: flex;
  gap: 3px;
  align-items: flex-end;
}
.logoline {
  width: 34px;
  height: 1.5px;
  background-color: #fff;
  margin-right: 3px;
  margin-bottom: 1.5px;
}

@media screen and (max-width: 1024px) {
  .infoSection .infoSectionLarge {
    font-size: 1.5rem;
  }

  .infoSection.infoSectionSmall {
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
  }
  .logoline {
    width: 26px;
    height: 1px;
  }
}

@media screen and (max-width: 767px) {
  .contactInActive,
  .contactActive {
    right: 20px;
  }

  .footer {
    padding: 20px 20px 40px 20px;
  }

  .contactInfo {
    text-align: left;
    display: block;
    justify-content: space-between;
  }
  .contactInfo p {
    text-align: left;
    font-size: 12px;
  }
  .contactDetails,
  .contactInfo h4 {
    font-size: 13px;
  }

  .contactInfo .bahbah p,
  .bahbah {
    text-align: right;
  }

  .infoSection.infoSectionSmall {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Three columns, each taking up equal space */

  }
  .instagram {
    grid-column: 1 / 2; /* Span the first column */
  }

  .studioManager {
    grid-column: 2 / 3; /* Span the first column */

  }
  .studioAddress {
    grid-column: 2 / 3; /* Span the first column */

  }
}
