

.navigation {
    font-size: 15px;
    letter-spacing: 0.07em;
    position: fixed;
    right: 42px;
    top: 40px;
    z-index: 9;
    color: #0a0a0a;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999999;
}
.navigation a {
    color: #0a0a0a;
    text-decoration: none;
    padding: 8px;
    position: relative;
    text-transform: uppercase;
}


.underline {
    width: 0;
    height: 1px;
    background-color: #0a0a0a;
    display: block;
    margin-top: 8px;
    position: relative;
    left: -10%;
}

.isBlack a  {
    color: #000;
}
.isBlack .underline, .isBlack.navigation .centerLine {
    background-color: #000;
 
}
.isWhite a{
    color: #fff;

}

.active .underline {
    width: 100%;
    height: 1px;
    background-color: #0a0a0a;
    display: block;
    margin-top: 8px;
    position: relative;
    left: -10%;
}