

.navigation {

    position: fixed;
    right: 0;
    left: 0;
    top: 0px;
    z-index: 9;
    color: #0a0a0a;
    justify-content: center;
    z-index: 999999999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;


}
.menu a {
    color: #0a0a0a;
    text-decoration: none;
    padding: 8px;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.07em;
}
.menu a:hover .underline,
.active .underline {
    width: calc(100% - 8px);
    left: 4px;
}
.menu {
    display: flex;

}

.underline {
    width: 0;
    height: 1px;
    background-color: #0a0a0a;
    display: block;
    margin-top: 8px;
    position: absolute;
    left: -8px;
    transition: 400ms ease-in-out;
}

.inActive .underline {
    width: 0%;
    left: -8px;

}
.inActive {
transition: 400ms ease-in-out;
opacity: 1;
}
.inActive:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .navigation {
        background: #f5f5f51b;
        padding: 12px 20px;
        backdrop-filter: blur(6px);

  }
  .menu a {
    font-size: 13px;
    letter-spacing: 0.07em;
}
.underline {
    margin-top: 3px;
}

}