.projects{
    position: relative;
    color: white;
    margin-top: 0vh;
    padding: 0%;
    overflow: hidden;
}

.projectDescription{
    display: block;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    background-color: #0a0a0a;
}

.imageContainer{
    position: relative;
    height: 100%;
    width: 100%;
}

.imageContainer img{
    object-fit: fill;
}


.column:last-of-type{
    align-items: flex-end;
    font-size: 1vw;
}

.projectList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100vh;
    z-index: 99;
}
.projectListWrap {
    height: 100vh;
    width: calc(100vw - 100px);
    margin-left: 50px;
 
}
.projectList h3 {
    text-align: left;align-items: flex-start;
    margin-bottom: 100px;
    font-weight: 300;
    color: #000;
}
.projectList h3.hovered {
    color: #000;
}
.projectEl{
    width: 100%;
    color: #000;
    font-size: 3.8rem;
    display: block;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
    height: 200px;
}
.hovered {
    color: #000;
}
h2.notHovered {
    opacity: 1 !important;
}
.projectEl h2{
    margin: 0px;
    cursor: pointer;
    transition: 600ms ease-in-out;
    position: relative;
    display: inline;
    opacity: .5;
    line-height: 1;
}
.projectEl h2:before {
    transition: 200ms ease-in-out;
    content: ' ';
    display: block;
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    left: -30px;
    top: 50%;
    margin-top: -2px;
    opacity: 0;
}
.projectEl.hover h2:before {
    opacity: 1;
    transition: 400ms ease-in-out 200ms;
    left: -40px;
}
.projectEl.hover h2 {
    opacity: 1;
    margin-left: 40px;
}
.projectEl p{
    margin: 0px;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    transition: 600ms ease-in-out 200ms;
}
.projectEl p span {
    margin-right: 12px;
}
.video {
    bottom: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: 1;
    image-rendering: pixelated;

}

.videoBlur {
    bottom: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: 0;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    z-index: 2;
}


.focusFront{
    position: absolute;
    top: 0;
    --radius: 40px; /* Hovered value */

    clip-path: circle(var(--radius) at 0% 0%); /* Use var(--radius) with a default value */
      width: 100%;
      height: 100%;
    
      display: flex;
      justify-content: center;
      align-items: center;
    
      position: relative;
      transition: ease-in-out 400ms; /* Apply transition to --radius */
    
  }
  .focusFront.hovered{
    position: absolute;
    top: 0;
    --radius: 60px; /* Hovered value */
    z-index: 99;
    clip-path: circle(var(--radius) at 0% 0%); /* Use var(--radius) with a default value */
    transition: ease-in-out 0ms; /* Apply transition to --radius */

  }


  .wrapper {
    z-index: 999999;
    position: relative;
  }